[core]
    editor = vim
    excludesfile = ~/.gitignore
[user]
    name = olsson
    email = erik.eo.olsson@gmail.com
[alias]
    ci = commit
    co = checkout
    cp = cherry-pick
    df = diff
    dc = diff --cached
    lol = log --graph --pretty=format:'%C("#ff69b4")%h%C(reset) %C(magenta)%d%C(reset) %s %C("#ff9F96")(%cd)%C(reset)' --abbrev-commit --date=short
    lg = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)' --graph
    pr = pull-request
    rb = rebase
    ri = rebase -i
    rw = rewind
    sh = show HEAD
    st = status

[push]
	default = simple
